body {
    margin: 0;
}

.navbar {
    border-radius: 0px !important;
}

.headerFluid{
    background-color: #1B1C1D;
    height: 30vw;
    padding-top: 6vw;

    .icon {
        color: white;
    }

    .content {
        color: white;
    }
}