body {
    margin: 0;
}

// MAIN LAYOUT
#main-layout{
    display: flex;
    flex-direction: column;
    
    .main-container{
        min-height: 100vh;
    }
}

// Navbar Start


.ui.stackable.menu {
    background-color: gray;
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;

    .ui.dropdown {
        color: white;
    }

    .ui.active.item {
        color: black;
    }
}

// Header Start

.headerFluid {
    background-color: gray;
    position: relative;
    height: 25vw;
    padding-top: 5vw;

    .icon {
        color: white;
    }

    .content {
        color: white;
    }
}

.headerForm {
    margin-top: 2vw;
}

// Content Start

.landingContent_1 {
    margin-top: 5vw;
}

.formContent_1 {
    margin-top: 3vw;
    margin-bottom: 3vw;
}

// Footer Start

#footer {
    background-color: red;
    height: 20em;
    self-align: flex-end;
}