body {
    margin: 0;
    height: 100%;
}

.navbar {
    border-radius: 0px !important;
}

.headerFluid {
    background-color: #1B1C1D;
    position: relative;
    height: 30vw;
    padding-top: 5vw;

    .icon {
        color: white;
    }

    .content {
        color: white;
    }
}

.headerForm {
    margin-top: 2vw;
}

.landingContent_1 {
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.formContent_1 {
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.footerFluid{
    color: white;
    position: absolute;
    bottom: 0;
    margin-top: 10%;
    background-color: #1B1C1D;
    height: 10%;
}